
h1 {
  font-size: 2.5em;
  color: #fff;
}
h2 {
  font-size: 2em;
  color: #fff;
}
h3 {
  font-size: 1.5em;
  color: #fff;
}
h4 {
  font-size: 1.2em;
  color: #fff;
}
h5 {
  font-size: 1em;
  color: #fff;
}
h6 {
  font-size: 0.8em;
  color: #fff;
}
p {
  font-size: 1em;
  color: #fff;
}
a {
  color: #0073aa;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #0073aa;
}
a:active {
  color: #0073aa;
}
a:focus {
  outline: none;
}
a:focus-visible {
  outline: 2px solid #0073aa;
}
