// Atom Dark Theme SCSS Variables

$bg: #000; // Base background color
$surface: #383e4a; // Lighter background for panels/sidebars
$bg-high: #07080a; // Highlighted background
$select: #4f5666; // Selection background

$text: #abb2bf; // Main text color
$light: #c8ccd4; // Lighter text color
$text-muted: #6b778d; // Muted text color
$accent: #e20719; // Heading text color

$border: #3e4451; // Border color
$border-light: #5c6370; // Lighter border color

$atom-dark-accent: #61afef; // Accent color (links, highlights)
$atom-dark-accent-light: #9cdcfe; // Lighter accent
$atom-dark-accent-dark: #569cd6; // Darker accent

$success: #98c379; // Success color
$warning: #d19a66; // Warning color
$error: #e5c07b; // Error color
$error-darker: #be5046; // a darker error color, sometimes used for critical errors.

// Example Usage:
