// CSS variables
// Define names:
// For AAA: https://www.color-blindness.com/color-name-hue/
// For AA: https://chir.ag/projects/name-that-color/
// ------------------------------------------------------
:root {
  // Brand color pool
  --color-black: #000000;
  --color-white: #ffffff;
  --color-telegram-bg: #17212b;
  --color-telegram-text: #ffffff;
  --color-telegram-text-secondary: #7d8e98;
  --color-telegram-blue: #64aaff;
  --color-telegram-hover: #2b5278;

  // Main element colors
  --color-main: var(--color-telegram-bg);
  --color-heading: var(--color-telegram-text);
  --color-paragraph: var(--color-telegram-text-secondary);

  // Modern link
  --color-link-text: var(--color-telegram-blue);
  --color-link-text-hover: var(--color-white);

  // Element states
  --color-error: #ff3b30;
  --color-success: #34c759;
}
