
.block-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  &__content {
    display: flex;
    justify-content: center;
   flex-direction: column;
   align-items: end;
  }
}

.block-about__title {
  font-size: 44px;
  margin-bottom: 10px;
  color: #fff;
}
.block-about__text {
  font-size: 16px;
}
.block-about__image {
  flex: 1;
}
.block-about__image img {
  max-width: 100%;
  height: auto;
}
