.block-faq {
  .container {

    .block-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      margin: 0 auto;

    }

  }
  .block-content {
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }


}
.faq-list {
  width: 100%;
  &__item {
    padding: 1rem;
    background-color: $surface;
    border-bottom: 1px solid #eaeaea;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    list-style: none;
    margin: 0 !important;
    width: 100%;
    &:hover {
      background-color: #eaeaea;
    }

    .faq-question {
      font-size: 1.5rem;
      font-weight: bold;
      cursor: pointer;
      margin-bottom: 1rem;
    }

    .faq-answer {
      font-size: 1rem;
      color: #777;
      display: none;

      &.active {
        display: block;
      }
    }
  }
}
.uk-open {
  background-color: #333 !important;

}
