.block-faq {
  margin-top: 50px;
  margin-bottom: 50px;
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 0 auto;
    padding: 2rem 0;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
  &__title {
      display: flex;
      flex-direction: column;
      align-items:  end;
      justify-content: center;

      h2 {
        font-size: 2rem;
        font-weight: bold;
        color: $accent;
        margin-bottom: 0;
      }
      p {
        font-size: 1.25rem;
        color: $text;
        margin-bottom: 1rem;
      }
  }







}
.faq-list {
  width: 100%;
  &__item {
    padding: 1rem;
    background-color: $bg;
    border-bottom: 1px solid $border;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    list-style: none;
    margin: 0 !important;
    width: 100%;
    &:hover {
      background-color: $bg-high;
    }
    a {
      text-decoration: none;
      color: $text;
    }
    a:hover {
      color: $accent;
    }

    .faq-question {
      font-size: 1.5rem;
      font-weight: bold;
      cursor: pointer;
      margin-bottom: 1rem;
    }

    .faq-answer {
      font-size: 1rem;
      color: $text-muted;
      display: none;

      &.active {
        display: block;
      }
    }
  }
}
  .uk-open {
  border-bottom: 1px solid $accent !important;

}
