.block-faq {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 0 auto;
    .block-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;
      h2 {
        font-size: 3rem;
        color: #fff;
        margin-bottom: 1rem;
      }
    }
    .block-content {

      margin: 0 auto;
      .faq-item {
        background-color: #222;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        h3 {
          font-size: 2.5rem;
          margin-bottom: 1rem;
        }
        p {
          font-size: 1rem;
          line-height: 1.5;
        }
      }
    }

  }
  .block-content {
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }


}
