.hero-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 70vh;
  &__content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: center;
    &-wrap {
      background-color: #0c0a0a7e;
      padding: 30px;
     min-width: 200px;
    }
  }
}

.hero-block__title {
  font-size: 2em;
  margin-bottom: 10px;
  color: #fff;
}
.hero-block__description {
  font-size: 1.2em;
  margin-bottom: 20px;
}
.hero-block__button {
  padding: 10px 20px;
  background-color: #0073aa;
  text-decoration: none;
}

